# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
pa1
rainbow.ppm
result-1.ppm
result-10.ppm
result-11.ppm
result-12.ppm
result-2.ppm
result-3.ppm
result-4.ppm
result-5.ppm
result-6.ppm
result-7.ppm
result-8.ppm
result-9.ppm
result.ppm